@import "./mixins";
@import "./c3";

.kuiIcon.cdf-line-chart-icon { 
    display: inline-block;
    width: 16px;
    height: 13px;
    background: url('../images/cdf_line.svg') no-repeat 0 0;
    background-size: 100%;
}

.visualizeWizardVisTypeIcon.cdf-line-chart-icon {
    display: inline-block;
    width: 55px;
    height: 55px;
    background: url('../images/cdf_line.svg') no-repeat 0 0;
    background-size: 100%;
}

.cdf-line-chart .chartc3 {
}

.cdf-line-chart {
    padding: 0em;
    width: 100%;
    height: 100%;
}

.cdf-line-chart .cdf-line-container {
    height: 100%;
}

.cdf-line-chart .text-center.visualize-error.visualize-chart {
    height: 100%;
}

.cdf-line-chart .c3-axis-x-label, .cdf-line-chart .c3-axis-y-label {
    font-size: 9pt;
    fill: #848e96;
    font-weight: bold;
}

.cdf-line-chart .c3 path, .cdf-line-chart .c3 line {
    stroke: #ddd
}

// tooltip related
.cdf-line-tooltip {
    line-height: 1.1;
    font-size: 14px;
    font-weight: normal;
    background: rgba(34, 34, 34, 0.93);
    color: #ecf0f1;
    border-radius: 4px;
    word-wrap: break-word;
    z-index: 120;
    overflow: hidden;
    pointer-events: none;
}

.cdf-line-tooltip > * {
    margin: 8px;
}

.cdf-line-tooltip table td, .cdf-line-tooltip table th {
    padding: 4px;
}

.cdf-line-tooltip .tooltip-label, .cdf-line-tooltip .tooltip-value {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.cdf-line-tooltip .tooltip-sublabel, .cdf-line-tooltip .tooltip-subvalue {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.cdf-line-color-picker {
    position: absolute;
    top: 20px;
    right: 25px;
}
