<div class="visEditorSidebar__section">
  
  <div class="visEditorSidebar__sectionTitle">
    <div i18n-id="sei.arc.cdf.settingsTitle" i18n-default-message="Settings">Settings</div>
  </div>

  <div class="visEditorSidebar__collapsibleTitle">
    <div 
      class="visEditorSidebar__collapsibleTitleLabel" 
      ng-init="isGridOpen" 
      ng-click="isGridOpen = !isGridOpen"
      kbn-accessible-click
      aria-expanded="{{!!isGridOpen}}"
      aria-controls="visGridOptions"
      aria-label="Toggle grid options">
      <icon color="'primary'" aria-hidden="true" ng-if="isGridOpen" type="'arrowDown'" size="'s'"><svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="euiIcon euiIcon--small euiIcon--primary euiIcon-isLoaded" focusable="false"><path fill-rule="non-zero" d="M13.069 5.157L8.384 9.768a.546.546 0 0 1-.768 0L2.93 5.158a.552.552 0 0 0-.771 0 .53.53 0 0 0 0 .759l4.684 4.61c.641.631 1.672.63 2.312 0l4.684-4.61a.53.53 0 0 0 0-.76.552.552 0 0 0-.771 0z"></path></svg></icon>
      <icon color="'primary'" aria-hidden="true" ng-if="!isGridOpen" type="'arrowRight'" size="'s'"><svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="euiIcon euiIcon--small euiIcon--primary euiIcon-isLoaded" focusable="false"><path fill-rule="nonzero" d="M5.157 13.069l4.611-4.685a.546.546 0 0 0 0-.768L5.158 2.93a.552.552 0 0 1 0-.771.53.53 0 0 1 .759 0l4.61 4.684c.631.641.63 1.672 0 2.312l-4.61 4.684a.53.53 0 0 1-.76 0 .552.552 0 0 1 0-.771z"></path></svg></icon>
      <span class="visEditorSidebar__collapsibleTitleText">
        Grid
      </span>
    </div>
  </div>

  <div id="cdfGridOptions" ng-show="isGridOpen" aria-hidden="false">
    
    <div class="visEditorSidebar__formRow">
      <label class="visEditorSidebar__formLabel" 
        for="showCategoryLines">
        X-Axis Lines
      </label>
      <div class="visEditorSidebar__formControl">
        <input class="kuiCheckBox" 
          id="showCategoryLines" type="checkbox" ng-model="vis.params.grid.categoryLines" aria-invalid="false">
      </div>
    </div>

    <div class="visEditorSidebar__formRow">
      <label class="visEditorSidebar__formLabel" 
        for="gridAxis">
        Y-Axis Lines
      </label>
      <div class="visEditorSidebar__formControl">
        <input class="kuiCheckBox" 
          id="gridAxis" type="checkbox" ng-model="vis.params.grid.valueAxis" aria-invalid="false">
      </div>
    </div>

  </div>

</div>